{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash

brew bundle --no-lock --file=/dev/stdin <<EOF

tap "homebrew/bundle"
tap "homebrew/cask-fonts"
brew "chezmoi"
brew "eza"
brew "gh"
brew "git"
brew "go"
brew "golangci-lint"
brew "lazygit"
brew "mas"
brew "neovim"
brew "ripgrep"
brew "starship"
brew "watch"
brew "zsh-autocomplete"
cask "1password"
cask "arc"
cask "font-lilex-nerd-font"
cask "wezterm"
mas "1Password for Safari", id: 1569813296

EOF
{{ end -}}

