{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash

brew bundle --file=/dev/stdin <<EOF

tap "homebrew/bundle"
tap "teamookla/speedtest"
tap "hashicorp/tap"

brew "chezmoi"
brew "eza"
brew "gh"
brew "git"
brew "go"
brew "golangci-lint"
brew "kubectx"
brew "kubernetes-cli"
brew "lazygit"
brew "mas"
brew "nvm"
brew "pyenv"
brew "pyenv-virtualenv"
brew "rbenv"
brew "speedtest"
brew "starship"
brew "stern"
brew "hashicorp/tap/terraform"
brew "tmux"
brew "watch"
brew "zsh-autocomplete"
brew "zsh-autosuggestions"
brew "zsh-syntax-highlighting"
brew "zsh-history-substring-search"

cask "1password-cli"
cask "balenaetcher"
cask "font-lilex-nerd-font"
cask "google-chrome"
cask "monitorcontrol"
cask "moonlight"
cask "mos"
cask "rectangle"
cask "visual-studio-code"
cask "wezterm"

EOF
{{ end -}}

