{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash

brew bundle --no-lock --file=/dev/stdin <<EOF

tap "homebrew/bundle"
tap "homebrew/cask-fonts"

brew "chezmoi"
brew "eza"
brew "gh"
brew "git"
brew "go"
brew "golangci-lint"
brew "lazygit"
brew "mas"
brew "neovim"
brew "ripgrep"
brew "starship"
brew "tmux"
brew "watch"
brew "zsh-autosuggestions"
brew "zsh-syntax-highlighting"
brew "zsh-history-substring-search"

cask "1password-cli"
cask "arc"
cask "font-lilex-nerd-font"
cask "rectangle"
cask "wezterm"

EOF
{{ end -}}

